<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<header>
<div class="container">  


<img src="images/logo1.png" alt="logo" class="logo"> 
 
 <nav>
   <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Grainger's Landing</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Buyers Info</a></li>
    <li><a href="#">Contact Us</a></li>
   </ul>
 </nav>
 
 </div>  

 </header>
 <h1>A PRIVATE LAKESIDE PARADISE.</h1>
 <hr>
  <div class="box">
  <img id="bch" src="images/webby.jpg" alt="landscape">
 </div>
 
 <hr>
 
 <h1 id="h12">A VISION BECOMES REALITY.</h1>
 <p><strong>Our quiet lakeside neighborhood stretches more 
 than a mile along the shores of Cherokee Lake in East Tennessee. This private, gated setting offers the natural beauty of a wildlife refuge, 
 towering hardwoods, private marina, and panoramic views.</strong></p>
 
 
 <div id="layer2" class="container">
 
 <img id="houses" src="images/THEHOUSES.jpg">
  
 
 
 <ul id="checks">
    <li>Unique home sites in a small private, gated community.</li>
    <li>Towering hardwoods, panoramic views and deep water cove.</li>
    <li>Lots from .68 acre to 3.8 acres with underground utilities.</li>
    <li>Conveniently located to Interstates 40, 75 and 81..</li>
 </ul><br>
 <p id="villa">The upscale Villas at Grainger’s Point offers the
  beauty of lakeside living in a maintenance free setting. 
   Our Villa designs offer a range of floor plans and spacious rooms. 
  Enjoy irrigated lawns and well maintained landscaping.</p>

 
 
 
 </div>
 


</body>
</html>