<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<header>
<div id="logo" alt="logo" class="logo"><img src="images/logo1.png"> </div>

<div class="container" id = "nav">  
 
 <nav>
   <ul id="nlist">
    <li><a href="#">Home</a></li>
    <li><a href="#">Grainger's Landing</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Buyers Info</a></li>
    <li><a href="#">Contact Us</a></li>
   </ul>
 </nav>
 
 </div>  
 </header>
 


</body>
</html>